<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @screen.title %>
</p>

<p>
  <b>Body:</b>
  <%= @screen.body %>
</p>

<% if ImageFile.find(@screen.id) %>
<p>
<img src="<%= image_screen_url(@screen) %>">
</p>
<% end %>

<%= link_to 'Edit', edit_screen_path(@screen) %> |
<%= link_to 'Back', screens_path %>
