<div class="description" >
  {{#if menu}}
  <span class="arrow icon-up-bold"></span>
  {{else}}
  <span class="arrow icon-forward"></span>
  {{/if}}
  {{description}}
</div>

<div class="thumbnail">
  {{#if cssIcon}}
  <i class="cssIcon {{cssIcon}}"></i>
  {{/if}}
  {{#if osIconPath}}
  <div clas="osIcon">
    <img src="file://{{osIconPath}}">
  </div>
  {{/if}}
 <h1 class="item-name" >{{i18nPick name}}</h1>
</div>

{{#if status}}
<div class="inactiveNotify">
{{ i18n "menuitem.slow-notification" }}
</div>
{{/if}}
