<div class="description" >
  {{#if menu}}
  <span class="arrow icon-up-bold"></span>
  {{else}}
  <span class="arrow icon-forward"></span>
  {{/if}}
  {{description}}
</div>

<div class="thumbnail">
  {{#if cssIcon}}
  <i class="cssIcon {{cssIcon}}"></i>
  {{/if}}
  {{#if osIconPath}}
  <img class="osIcon" src="file://{{osIconPath}}">
  {{/if}}
 <h1 class="item-name" >{{name}}</h1>
</div>
