<ul id="jsddm">
  <li <%= controller_name.match(/channels|slides/) ? "class='current'" : "" %>>
  <%= link_to t('links.channels'), channels_path(@school.puavoId) %>
  <ul class="submenu">
    <% channels.each do |channel| %>
    <li><%= link_to channel.name, channel_slides_path(@school.puavoId, channel) %></li>
    <% end %>
  </ul>
  </li>
  <li <%= controller_name.match(/displays/) ? "class='current'" : "" %>>
    <%= link_to t('links.displays'), displays_path %>
  </li>
</ul>
