<p>
  <b><%= Channel.human_attribute_name(:name) %>:</b>
  <%= @channel.name %>
</p>
<p>
  <b><%= Channel.human_attribute_name(:slide_delay) %>:</b>
  <%= @channel.slide_delay %>
</p>
<p>
  <b><%= Channel.human_attribute_name(:theme) %>:</b>
  <%= @channel.theme %>
</p>
<div><%= link_to t('links.back_to_channels'), channels_path %></div>


<% content_for :tools do %>
<div><%= link_to t('links.edit'), edit_channel_path(@school.puavo_id, @channel) %></div>
<% end %>
