<%= simple_form_for(@display, :url => url) do |f| %>
  <div class="inputs">
    <%= f.input :active %>
    <%= f.association :channel %>
    <%= f.input :hostname %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
