<tr class="form">
  <td><%= f.text_field :start_datetime, :size => '15' %></td>
  <td><%= f.text_field :end_datetime, :size => '15' %></td>
  <td><%= f.text_field :start_time, :size => '8', :value => '00:00' %></td>
  <td><%= f.text_field :end_time, :size => '8', :value => '23:59' %></td>
</tr>
<tr>
    <td colspan="7"><%= f.submit %></td>
</tr>