<h1 class="shut-down-header">
  <img src="file:///usr/share/icons/Faenza/actions/48/system-shutdown.png">
  {{ i18n "logout.exit" }}
</h1>

<div class="logout-btn-container">

  <button class="btn js-logout">
    <img src="file:///usr/share/icons/Faenza/actions/24/system-log-out.png">
    {{ i18n "logout.logout" }}
  </button>

  <button class="btn js-lock">
    <img src="file:///usr/share/icons/Faenza/actions/24/lock.png">
    {{ i18n "logout.lock" }}
  </button>

  <button class="btn js-shutdown">
    <img src="file:///usr/share/icons/Faenza/actions/24/system-shutdown.png">
    {{ i18n "logout.shutdown" }}
  </button>

  <button class="btn js-reboot">
    <img src="file:///usr/share/icons/Faenza/actions/24/stock_undo.png">
    {{ i18n "logout.reboot" }}
  </button>

  <button class="btn js-cancel">
    {{ i18n "logout.cancel" }}
  </button>
</div>
