<p class="notice"><%= notice %></p>

<p>
  <b><%= t('.name') %>:</b>
  <%= @channel.name %>
</p>


<%= link_to t('links.edit'), edit_channel_path(@channel) %> |
<%= link_to t('links.back'), channels_path %>
