<div class="slide_title">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>

<div class="lefthalf">
  <%= f.text_area :body, :class => 'mceEditor' %>
</div>

<div class="righthalf">
  <%= f.file_field :image %>
  <% if @slide.image %>
  <img src="<%= root_path %>image/<%= @slide.template %>/<%= @slide.image %>?resolution=720x350" />
  <% end %>
</div>
