<p><%= t('.select_slide_template') %></p>


<%= link_to t('.link_text'), new_slide_url(:template => "only_text") %>
<%= link_to t('.link_right_image'), new_slide_url(:template => "right_image") %>
<%= link_to t('.link_left_image'), new_slide_url(:template => "left_image") %>
<%= link_to t('.link_only_image'), new_slide_url(:template => "only_image") %>
<%= link_to t('.link_web_page'), new_slide_url(:template => "web_page") %>
