<% content_for :javascript do %>
  <%= javascript_include_tag "slides/index" %>
<% end %>

<a href="/asdfdsasdfsadfasdf/conductor?cache=false&resolution=720x450" id="previewSlides" ><%= t('links.preview_channel_slides') %></a>

<h1><%= t('.title') %></h1>


<ul id="slides" style="list-style: none;", >
<% @slides.each do |slide| %>
  <li id="slide_<%= slide.id %>">
    <span><%= t('.drag') %></span>
    <iframe style="z-index: -1;" scrolling="no" height="150" width="250" src="/asdfdsasdfsadfasdf/conductor?cache=false&slide_id=<%= slide.id %>&resolution=250x150">
    </iframe>
    <%= slide.title %>
    <%= link_to t('links.show'), channel_slide_path(@channel, slide) %>
    <%= link_to t('links.edit'), edit_channel_slide_path(@channel, slide) %>
    <%= link_to t('links.destroy'), channel_slide_path(@channel, slide), :confirm => t('.confirm'), :method => :delete %>
  </li>
<% end %>

</ul>

<br />

<%= link_to t('links.new_slides'), new_channel_slide_path %>
