<%= javascript_include_tag "slides/sortable.js" %>

<h1>Listing slides</h1>

<ul id="slides" style="list-style: none;", >
<% @slides.each do |slide| %>
  <li id="slide_<%= slide.id %>">
    <span>[Drag]</span>
    <iframe style="z-index: -1;" scrolling="no" height="150" width="250" src="/asdfdsasdfsadfasdf/conductor?cache=false&slide_id=<%= slide.id %>">
    </iframe>
    <%= slide.title %>
    <%= link_to 'Show', channel_slide_path(@channel, slide) %>
    <%= link_to 'Edit', edit_channel_slide_path(@channel, slide) %>
    <%= link_to 'Destroy', channel_slide_path(@channel, slide), :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>

</ul>

<br />

<%= link_to 'New Slide', new_channel_slide_path %>
