<% content_for :javascript do %>
  <%= javascript_include_tag "slides/show" %>
  <%= javascript_tag "var slide_id = #{@slide.id}"%>
  <%= javascript_tag "var channel_id = #{@channel.id}"%>
  <%= javascript_tag "var application_locale = '#{I18n.locale}'"%>
  <%= javascript_include_tag "datetimepicker/jquery-ui-timepicker-addon.js" %>
  <%= javascript_include_tag "datetimepicker/jquery.ui.datepicker-fi.js" %>
<% end %>

<div class="slide_navigation">
<% unless @previous.nil? %>
<%= link_to t('links.previous'), channel_slide_path(@channel, @previous) %>
<% end %>

<%= unless @previous.nil? || @next.nil? then " - " end %> 

<% unless @next.nil? %>
<%= link_to t('links.next'), channel_slide_path(@channel, @next) %>
<% end %>
</div>

<div>
<% content_tag("iframe",
               { :style => "z-index: -1;",
                 :scrolling => "no",
                 :height => "450",
                 :width => "720",
                 :src => conductor_screen_path( :preview => "true",
                                                :cache => "false",
                                                :slide_id => @slide.id,
                                                :resolution => "720x450" ) } ) do %>
<% end %>
</div>

<p id="slide_status">
</p>

<% if @slide.slide_timers.empty? %>
<h2><%= link_to t('links.slide_timers'), slide_slide_timers_path(@slide), :remote => true, :class => 'link_slide_timers' %></h2>
<% else %>
<h2><%= t('links.slide_timers') %></h2>
<% end %>
<div class="slide_timers">

</div>

<% content_for :tools do %>
<div><%= link_to t('links.edit'), edit_channel_slide_path(@channel, @slide) %></div>
<div>
<%= link_to( t('links.destroy'),
 channel_slide_path(@channel, @slide),
 :confirm => t('.confirm'),
 :method => :delete ) %>
</div>
<div><%= link_to t('links.new_slides'), new_channel_slide_path %></div>
<% end %>
