<div class="slide_navigation">
<% unless @previous.nil? %>
<%= link_to t('links.previous'), channel_slide_path(@channel, @previous) %>
<% end %>

<%= unless @previous.nil? || @next.nil? then " - " end %> 

<% unless @next.nil? %>
<%= link_to t('links.next'), channel_slide_path(@channel, @next) %>
<% end %>
</div>

<div>
<iframe style="z-index: -1;" scrolling="no" height="450" width="720" src="/asdfdsasdfsadfasdf/conductor?cache=false&slide_id=<%= @slide.id %>&resolution=720x450">
</iframe>
</div>

<%= link_to t('links.back_to_slides'), channel_slides_path(@channel) %>

<% content_for :tools do %>
<div><%= link_to t('links.edit'), edit_channel_slide_path(@channel, @slide) %></div>
<div>
<%= link_to( t('links.destroy'),
 channel_slide_path(@channel, @slide),
 :confirm => t('.confirm'),
 :method => :delete ) %>
</div>
<div><%= link_to t('links.new_slides'), new_channel_slide_path %></div>
<% end %>
