<p class="notice"><%= notice %></p>

<p>
  <b><%= Slide.human_attribute_name(:title)%>:</b>
  <%= @slide.title %>
</p>

<p>
  <b><%= Slide.human_attribute_name(:body)%>:</b>
  <%= @slide.body %>
</p>


<%= link_to t('links.edit'), edit_channel_slide_path(@channel, @slide) %> |
<%= link_to t('links.back'), channel_slides_path %>
