<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @slide.title %>
</p>

<p>
  <b>Body:</b>
  <%= @slide.body %>
</p>


<%= link_to 'Edit', edit_channel_slide_path(@slide) %> |
<%= link_to 'Back', channel_slides_path %>
